/node_modules
config.json
/output
/result
.env
/KidsActiveResult
/GooglePlacesResult*
/MappedGooglePlacesItems
/.vscode
/MappedGoogleItemsSQL
/NearbySearchResults
/archived
/v2/NearbySearchResult
/v2/PlacesDetailResult
/v2/MappedGoogleItemsSQL
/v2/MappedGooglePlacesItems